@import "meyer-reset.css";
@import "setup.css";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

:root {
	--purple: #424294;
	--yellow: #FBF6D9;
}

body {
	background-color: var(--yellow);
	color: var(--purple);
	width: 90%;
	margin: auto;
	max-width: 980px;
	margin-bottom: 50px;

	max-width: 1200px;
}

header {
	text-align: center;
   font-size: clamp(32px, 16vw, 92px);
	font-weight: 900;
	margin: 50px 0;
	font-family: 'Shrikhand', cursive;
}

main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 20px;
	margin-top: 60px;

}

.card {
	background-color: var(--purple);
	border-radius: 15px;
	border: 7px solid var(--purple);
	overflow: hidden;
	color: var(--yellow);

	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: space-between;
	
}

.card__content {
	/*display: flex;
	gap: 14px;*/
	margin-bottom: 7px;
}

.card__text {
	/*flex-basis: 60%;*/
	display: flex;
	flex-direction: column;
	/*justify-content: space-evenly;*/
	align-self: center;
	gap: 14px;
	/* remove at query */
	margin-top: 14px;
	margin-bottom: 14px;

	overflow: hidden;
}


picture {
	/*display: none;*/

	/*add to next query*/

/*	flex-basis: 50%;
	max-width: 200px;*/
}

img {
  	filter: grayscale(100%);
	mix-blend-mode: lighten;
}

h1, h2 {
	letter-spacing: 0.06em;
}

h2, p {
	padding: 0 5px;
}

h2 {
	font-family: 'Shrikhand', cursive;
	font-weight: 700;
	font-size: 24px;
}

p {
	flex-grow: 1;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
}

.card p {

	/* remove at query */
	/*padding-left: 28px;*/

	font-size: clamp(16px, 4vw, 26px);
}

.card h2 {
	font-size: clamp(24px, 5vw, 38px);
}

em {
	font-style: italic;
}

article {
	max-width: 900px;
	margin: 0 auto;
}

article p {
	font-size: clamp(16px, 3.2vw, 18px);
}

article a {
	font-family: 'Courier Prime', monospace;
	text-decoration: none;
	color: maroon;
}

article a:hover {
	font-weight: 700;
}

.card a {
	text-align: center;
	background-color: var(--yellow);
	color: var(--purple);
	font-family: 'Courier Prime', monospace;
	font-weight: 700;
	padding: 14px;
	transition: all 1s ease-out;
}

.card a:hover {
	background-color: gold;
	color: crimson;
	letter-spacing: 0.5em;
	transition: all 0.5s ease-out;
	text-shadow: 1px 1px blue;
}

@media only screen and (min-width: 420px) {
	picture {
		flex-basis: 50%;
		max-width: 200px;
	}

	.card__content {
		display: flex;
		gap: 14px;
	}

	.card__text {
		flex-basis: 60%;
		margin: 0;
	}
	.card p {
		padding-left: 0
	}
}

@media only screen and (min-width: 860px) {
	.card {
		/*max-width: 360px;*/
		flex-basis: 46%;
		margin-bottom: 0.5%;
	}

	.card h2 {
		font-size: 24px;
	}

	.card p {
		font-size: 16px;
	}
}

@media only screen and (min-width: 1200px) {
	.card {
		flex-basis: 30%;
	}

	picture {
		flex-basis: 58%;
	}
}
