body {
	background: linear-gradient(paleturquoise, lightcyan);
	width: 95%;
	margin: 30px auto 100px;
	max-width: 365px;
}

span {
	height: 22px;
	width: 22px;
	background:  linear-gradient(120deg, #32D4E5, #CAFCFD);
	display: inline-block;
	border-radius: 50%;
	margin-right: .2em;
	box-shadow: 3px 3px red;
	vertical-align: -5%;
}

header {
	background-image: url("https://cdn1.epicgames.com/ue/product/Featured/TeleportationandPortal_featured-894x488-02ed90ae9487f2dd191941dfce627df4.png");
	width: inherit;
	height: 49.5vw;
	max-height: 188px;
	background-size: contain;
	border-radius: 15px;
	box-sizing: border-box;
}

h1 {
	letter-spacing:  .2em;
	color: #F9F48D;
	font-family: 'Space Grotesk', sans-serif;
	text-align: center;
	font-size: 29px;
	font-weight: 700;
	padding: 15px;
	text-shadow: 3px 3px red;
	}

header:hover {
	background-image: url('https://i.pinimg.com/originals/80/2f/6b/802f6b55de54cec2eeacc6df2d7cb464.gif');
}

h3 {
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 500;
	font-style: italic;
	font-size: 26px;
	color: red;
	text-transform: uppercase;
	background: linear-gradient(to right, #F9F48D, transparent);
	border-radius: 15px 0 0 15px;
	padding: 5px 10px;
	text-shadow: 2px 2px silver;
	margin-top: 60px;
}

a {
	margin-left: 7px;
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 300;
	text-decoration: none;
	font-size: clamp(12px, 4.5vw, 18px);
	color: midnightblue;
}

a:hover {
	font-weight: 700;
	transition: 0.5s;
	color: darkmagenta;
}

li {
	margin-left: -20px;
/* 	border: 1px solid blue; */
	box-sizing: border-box;

}

li + li {
	margin-top: 20px;
}

#news li {
	list-style-type: "🗞";
}

#video li {
	list-style-type: "📹";
}

#music li {
	list-style-type: "🎧";
}

#classified li {
	list-style-type: "💲";
}

#bookstores li {
	list-style-type: "📚";
}

#bikes li {
	list-style-type: "⚙️";
}

#gear li {
	list-style-type: "🧗‍♀️";
}

#museums li {
	list-style-type: "🎨";
}





