@import 'meyer-reset.css';
@import 'setup.css';

html {
	background-color: wheat;
}

/* STRUCTURE */

.inner-column {
	max-width: 600px;
	margin: 0 auto;
	padding: 30px 15px;
/*	border: 1px solid blue;*/
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/* TYPOGRAPHY */

.loud-voice {
	font-family: sans-serif;
	font-size: 48px;
}

.calm-voice {
	font-size: 16px;
	line-height: 1.4;
	font-family: sans-serif;
}

.attention-voice {
	font-family: sans-serif;
	font-size: 30px;
}

h1 + p, h2 + p {
	margin-top: 20px;
}


/* SITE SECTIONS */

.site-header {
	background-color: skyblue;
	position: sticky;
	top: 0;
	box-shadow: 0 2px 5px black;
}

.site-header .inner-column {
	padding: 14px;
}
.page-content {
	background-image: url("https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=876&q=80");
	background-size: cover;
	background-position: center center;
	flex-grow: 1;
}

.page-header {
/*	background-color: skyblue;
*/
	background-color: rgba(255,255,255,.4);
}

.about {
/*	background-color: lightgreen;
*/	background-color: skyblue;
}

.contact {
/*	background-color: red;
*/
	color: white;
	background-color: rgba(255,255,255,.4);
}

.site-footer {
	background-color: #333;
	color: white;
	/*position: fixed;*/
	bottom:  0;
	left: 0;
	width: 100%;
}

@media (min-width: 700px) {
	.page-header, .contact {
		background-color: transparent;
	}
	.page-header{
		color: lightgreen;
		text-shadow: -2px 2px 0 black;
	}
}

strong {
	font-weight: 700;
	outline: 1px solid gray;
}

a {
	font-weight: 700;
	outline: 1px solid gray;
}

.a {
	background-color: red;
}

.b {
	background-color: plum;
}

.c {
	background-color: orange;
}

.d {
	background-color: blue;
}



/* BOXES */


.box {
	width:  100px;
	height:  100px;
	border:  3px solid black;
}

.a {
	position:  relative;
	bottom: 20px;
	left: 20px;
}

.b {
	position: fixed;
	bottom: 0;
	right: 0;
}

.c {
	position: sticky;
	bottom: 0;
	right: 0;
}

.three .inner-column {
	position: relative;
	top: 0;
	right: 0;
}

.d {
	position: absolute;
	top: 0;
	left: 0;
}









