@import "meyer-reset.css";
@import "setup.css";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=STIX+Two+Text:wght@400;500;600;700&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--full: 10px;
	--half: calc(var(--full) / 2);
	--quarter: calc(var(--full) / 4);
	--double: calc(var(--full) * 2);
	--triple: calc(var(--full) * 3);
	--quadruple: calc(var(--full) * 4);
}

body {
	font-family: 'Spartan', sans-serif;
	margin: var(--full);
	/*border: 2px solid black;*/
	background-color: white;
}

section {
	border: 2px solid black;
}

/*
font-family: 'Courier Prime', monospace;
400, 700

font-family: 'STIX Two Text', serif;
400, 500, 600, 700

font-family: 'Spartan', sans-serif;
100, 200, 300, 400, 500, 600, 700, 800, 900
*/

h1 {
	font-size: 1.4em;
	font-weight: 700;
	line-height: 1.4em;
}

h2 {
	font-size: 1em;
	font-weight: 300;
	line-height: 1.1em;
}

h3 {
	font-size: 0.8em;
	font-weight: 200;
	font-style: italic;
	line-height: 1.3em;
}

h4, p {
	font-family: 'STIX Two Text', serif;
}

h4 {
	font-size: 0.5em;
	font-weight: 700;
	letter-spacing: 0.07em;
}

p a, a {
	color: white;
	text-decoration: none;
	font-family: 'Courier Prime', monospace;
	font-weight: 700;
}

h3, h4, p a, a {
	font-style: italic;
}

p, p a {
	line-height: 1.2em;
}

p a {
	letter-spacing: 0.03em;
}

p {
	letter-spacing: 0.03em;
}

/* About */

.about-content {
	display: flex;
	/*gap: var(--full);*/
}

.info {
	color: white;
	background-color: black;
	padding: var(--full);
	display: flex;
	flex-direction: column;

	gap: var(--double);
}

.welcome {
	display: flex;
	flex-direction: column;

}

.hello {
	flex-basis: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: var(--full);
	align-self: center;
}

.add-color {
	background-color: black;
	height: 20%;
	/* figure out later */
}

.welcome picture {
	background: linear-gradient(silver 40%, transparent);
}

.location {
	border-top: 2px solid black;
	position: sticky;
	top: 0;

}

.location li {
	padding: var(--full);
	background-color: white;
	overflow: hidden;
}

.location li:nth-of-type(1) h3 {
	white-space: nowrap;
	position: relative;
	width: 332px;
   animation: ticker 6s infinite linear;
}

@keyframes ticker {
   0% {transform: translateX(0);}
  	100% {transform: translateX(-100%);}
}

.location span {
	margin-right: 30px;

}

.location li:nth-of-type(2) {
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.location svg {
	max-width: 30px;
	animation: pulse 2s infinite;
}

.mail path {
	stroke-width: 8px;
}

.location a {
	width: 30px;
}


@keyframes pulse {
	0% {
		background-color: black;
		fill: black;
	}

	10% {
		background-color: dimgrey;
		fill: dimgrey;
	}

	50% {
		background-color: black;
		fill: black;
	}

}



/* Projects */

#projects, .blog, .links {
	background-color: black;
	color: white;
}

.projects-content, .blog, .links {
	display: flex;
	flex-direction: column;
	gap: var(--quadruple);
	padding: var(--triple);
}

.projects-content li, .blog li, .links div {
	display: flex;
	flex-direction: column;
	gap: var(--double);
}

.projects-content div {
	display: flex;
	gap: var(--quadruple);
}

.projects-content a, .blog a {
	font-family: 'Spartan', sans-serif;
	font-size: 0.8em;
	font-weight: 500;
	font-style: normal;
	text-decoration: underline;
}

.blog, .links {
	margin-top: 2px;
}

.archive-link {
	text-align: right;
	
}

.too-big {
	display: none;
}

@media only screen and (min-width: 650px) {
	.about, .blog, .links, #projects {
		display: none;
	}
  .too-big {
   display: block;
   height: 100%;
   width: 100%;
   font-size: 10vw;
   content: "TOO BIG, REDUCE SCREEN SIZE!!!";
  }
}








