
/* RESET */
@import 'meyer-reset.css';
@import 'setup.css';

/*@import 'developer-styles.css'; */
/* comment this ^ out - when you are ready */


/* SETTINGS */
@import 'settings.css'; /* variables/ etc */


/* STRUCTURE */
@import 'structure.css';


/* TYPOGRAPHY */
@import 'typography.css';


/* COMPONENTS */
@import 'components.css';


/* MODULES */
@import 'modules/masthead.css';
@import 'modules/graphic-diptych.css';
@import 'modules/call-to-action.css';
@import 'modules/articles-intro.css';
@import 'modules/article-card.css';
@import 'modules/site-map.css';
/* should everything/nothing be in it's own file? */


/* ACTUAL SITE STYLES */
html {
	background-color: var(--white);
}




/*
	This the area where you work out your styles 
	If it makes sense, you can break these out into their own files.
*/


/* SITE SECTIONS */
.site-header {
	/*background-color: #9ec9eb;*/
	position: sticky;
	top: 0;
	/*box-shadow: 0 2px 5px 0px rgba(0,0,0,.4);*/
}
.site-header inner-column {
	padding: 14px;
}







/* OK! SITE STYLES! */
.site-header {
  background-color: var(--color);
  color: var(--white);
}


/* things kinda just start grouping up... and you'll know when something should be grouped into another file - most of the time */


.get-involved {
  background-color:  var(--highlight);
  background-image:  url("data:image/svg+xml,%3Csvg width='4' height='4' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
} /* interesting way to include the whole image in your CSS */

.get-involved inner-column {
	/*max-width:  700px;*/
}

.get-involved call-to-action {

}


.stuff {
  
}

.help-us {
  
}

.site-footer {
	background-color: var(--color);
	color: var(--white);
}

.site-footer .logo {
	max-width:  60px;
}


/* 
/////////////////////////////////////////////////

eBike Theme 

////////////////////////////////////////////////
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variables */

html {
	--grey: #939393;
	--black: #323232;
	--white: #FAFAFA;
	--red: #E00E01;
	--roboto: 'Roboto', sans-serif;
}

body {
	background-color: var(--black);
}

/* Typography */

.intro-voice {
	font-weight: 900;
}

.calm-voice {
	font-weight: 400;
}

.attention-voice {
	font-weight: 700;
}

body a {
	font-weight: 300;
	text-transform: uppercase;
}

body > * {
	font-family: var(--roboto);
}

/* Header */

.site-header {
	position: sticky;
	top: 0;
	z-index: 1;
}

mast-head nav {
	align-items: center;
}

mast-head a {
	opacity: 0.8;
	transition: all 0.2s ease-in;
}

mast-head a:hover {
	opacity: 1;
	transition: all 0.2s ease-in;
}

.site-header {
	background-color: var(--black);
	color: var(--white);
}

mast-head .logo img {
	content: url("../images/ebike-images/ebike-logo.svg");
	width: 75%;
}

.user-menu a span{
	content: url("../images/ebike-images/user-logo.svg");
	width: 25px;
}

/* Diptych */

.welcome inner-column {
	padding: 0;
}

.welcome picture {
	display: none;
	width: 0;
}

.welcome {
	background-image: url("../images/ebike-images/diptych-img.jpeg");
	background-size: cover;
	background-position: center;
	position: relative;
}

graphic-diptych {
	min-height: 86vh;
}

.welcome text-content {
	color: var(--white);
	text-shadow: black 1px 0 10px;
	text-align: center;
	width: 90%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome p {
	margin-top: 50px;
}

.welcome text-content .intro-voice {
	font-size: clamp(40px, 6vw, 62px);
}

.welcome text-content .calm-voice {
	font-size: clamp(1rem, 3vw, 1.4rem);
}


/* CTA 1 */

.get-involved, .help-us {
	background-color: var(--black);
	color: var(--white);
	text-shadow: black 1px 0 10px;
	background-image: linear-gradient(rgba(50,50,50,0.7), rgba(50,50,50,0.7)), url("../images/ebike-images/cta-6.png");
	background-size: cover;
	background-position: center;

}

call-to-action a {
	text-shadow: none;
	border: 1.5px solid var(--white);
	border-radius: 5px;
	padding: 10px;
	background-color: var(--white);
/*	font-size: clamp(10px, 3vw, 16px);
*/	transition: all 0.2s ease-in;
	color: var(--black);
	padding-bottom: 9px;
	/*WHAT THE +FUCKKCKCKAHVAODIHVAHIVAH!!!!!*/
}

call-to-action a:hover {
	background-color: var(--black);
	color: var(--white);
	transition: all 0.2s ease-in;
}

call-to-action p {
	max-width: 500px;
	margin: 50px 0 30px;
}


/* Article */

.stuff {
	color: var(--black);
	background-color: white;
}



article-card img {
	/*content: url("../images/ebike-images/article-img.png");*/
}


article-card h2 {
	text-transform: uppercase;
	width: 75%;
}

article-card p {
	opacity: 0.8;
	width: 75%;
/*	position: absolute;
	top: 72%;
	left: 50%;
	transform: translate(-50%,-50%);*/
}

article-card a {
	color: var(--black);
	border: 1.5px solid var(--black);
	border-radius: 5px;
	padding: 10px;
	transition: all 0.2s ease-in;
}

article-card a:hover {
	color: var(--white);
	background-color: var(--black);
	transition: all 0.2s ease-in;
}

articles-intro article-grid {
	display: block;
}

article-card {
	text-align: center;
	max-width: 350px;
	width: 80%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
		padding-bottom: 0;


}

article-grid .flickity-viewport {
	height: 400px !important;
}

article-card p,
article-card h2 {
	margin: 10px auto 5px;
}

article-card picture {
/*	margin-top: -40px;
*/}

article-card a {
	
	margin-left: auto;
	margin-right: auto;
}

article-card .attention-voice {
	font-size: 22px;
}

.apparel {
	padding-bottom: 35px;
}

article-card {
	padding: 0;
}

/* Article 2 */

.apparel article-card picture {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

article-grid .flickity-button svg {
	fill: var(--black);
}

article-grid .flickity-button {
	background: var(--white);
	border-radius: 5px;
	border: 1px solid var(--black);
}

.apparel article-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.apparel {
	margin-top: 100px;
}

article-card a {
	/*margin-bottom: 0;*/
}

/* CTA 2 */

.help-us {
	background-image: linear-gradient(rgba(50,50,50,0.7), rgba(50,50,50,0.7)), url("../images/ebike-images/cta-3.jpeg");
	background-position: center right 100%;
}

@media only screen and (min-width: 450px) {
  .help-us {
    background-attachment: fixed;
  }
}


/* Footer */

.site-menu .logo svg {
	display: none;
}

.site-footer .logo:after {
	content: url("../images/ebike-images/ebike-logo.svg");
	opacity: 0.8;
}

.site-footer {
	background-color: var(--black);
}

site-map nav {
	min-width: 150px;
	margin-bottom: 20px;
}

site-map a {
	text-decoration: none;
	padding: 0;
	padding: 5px 10px 5px 0;
	opacity: 0.8;
	transition: all 0.2s ease-in;
}

footer a:hover {
	opacity: 1;
	transition: all 0.2s ease-in;
}

site-map h3 {
	margin-bottom: 10px;
}

site-map {
	margin-top: 50px;
}






